body {
    background-image: url('../../../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Ensures the background image remains fixed as the user scrolls */
  }